.home{
    height: 100vh;
    background-image: url(./assets/img/background-home.png);
    background-size: 100% 100%;
}

.detail{
    height: 100vh;
    background-image: url(./assets/img/background-detail.jpg);
    background-size: 100% 100%;
}

.favorites{
    height: 100vh;
    background-image: url(./assets/img/background-favoritos.jpg);
    background-size: 100% 100%;
}

.about{
    height: 100vh;
    background-image: url(./assets/img/background-about.png);
    background-size: 100% 100%;
}