@font-face{
    font-family:  Wubba Lubba Dub Dub;
    src: url('../../assets/fonts/WubbaLubbaDubDub.otf');
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../../assets/img/background-image.png);
    background-size: cover;
}

.section {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
    flex-wrap: wrap;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.4);
}

.section::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,rgba(0, 250, 0, 0.7),rgba(0, 0, 0, 0.3),rgba(0, 250, 0, 0.7));
    background-size: 600% 600%;
    animation: animate 15s ease infinite;
}
@keyframes animate {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.section span {
    position: relative;
    display: block;
    width: calc(4.16vw - 1px);
    height: calc(4.16vw - 1px);
    background: rgba(24, 24, 24, 0.6);
    z-index: 2;
    transition: 1.5s;
}
.section span:hover {
    background: #0f0;
    transition: 0s;
}

.title{
    position: absolute;
    pointer-events: none;
    top: 35px; 
    z-index: 1001;
    text-align: center;
    color: #a9f3fd;
    text-shadow: #97ce4c 3px 3px 4px;
    font-family: Wubba Lubba Dub Dub;
}

.title h1{
    font-size: 3rem;
}

.title h2{
    font-size: 1.5rem;
}

.section .signin{
    position: absolute;
    
    width: 400px;
    background: #222;  
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 25px !important;
    border-radius: 5px;
    box-shadow: 0 15px 35px rgba(0,0,0,9);
}

.formOptions {
    width: 350px;
    display: flex;
    justify-content: center;
    position: relative;
}

.formOptions h2 {
    width: 100%;
    position: relative;
    padding: 10px 20px;
    font-size: 2em;
    text-transform: uppercase;
}

.formOptions h2.active {
    color: #0f0;
    border-top: 2px solid #0f0;
    box-shadow: 0px -6px 15px -12px #0f0;
}

.formOptions h2.signupInactive {
    -webkit-text-stroke: 0.27px #0f0;
    border-bottom: 2px solid #0f0;
    border-bottom-left-radius: 19px;
    cursor: pointer;
    box-shadow: 7px -15px 10px -15px #0f0 inset;
}

.formOptions h2.loginInactive {
    -webkit-text-stroke: 0.27px #0f0;
    border-bottom: 2px solid #0f0;
    border-bottom-right-radius: 19px;
    cursor: pointer;
    box-shadow: -7px -15px 10px -15px #0f0 inset;
}

.formOptions h2:first-child {
    border-top-right-radius: 19px;
    border-top-left-radius: 13px;
}

.formOptions h2:last-child {
    border-top-left-radius: 19px;
    border-top-right-radius: 13px;
}

.section .signin .formContainer {
    border-radius: 5px;
    box-shadow: 0px 18px 18px -12px #0f0;
}
.section .signin .form {
    margin-top: 15px;
    width: 100%;
    height: 330px;
    padding: 5px 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-shadow: 0px 18px 15px -15px #0f0;
    border-radius: 8px;
} 

.section .signin .form label{
    width: 100%;
}

.section .signin .form h4 {
    color: #fff;
    width: 100%;
    margin-left: 5px;
}

.section .signin .form .inputbox{
    position: relative;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;

}
input::placeholder {
    color: rgb(141, 225, 233);
    font-size: 0.8rem;
    padding-bottom: 5px;
    opacity: 1; 
}

.showPasswordIcon{
    align-self: flex-end;
    height: 13px;
    position: absolute;
    display: inline;
    transform: translate(-95%, 30px);
    cursor: pointer;
}

.section .signin .form p{
    color:#e10101;
}
.section .signin .form .inputbox input {
    position: relative;
    width: 320px;
    background: #333;
    text-align: center;
    border: none;
    outline: none;
    padding: 10px 10px 7.5px !important;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
    font-size: 1em;
}

.section .signin .form .inputbox i {
    position: absolute;
    left: 0;
    top: 35px;
    padding: 5px 10px !important;
    font-style: normal;
    color: #aaa;
    transition: 0.5s;
    pointer-events: none;
}

.signin .form .inputbox input:focus ~ i,
.signin .form .inputbox input:valid ~ i{
    transform: translateY(-7.5px);
    font-size: 0.8em;
    color: rgb(60, 143, 192);
}

.signin .form .inputbox input[type="submit"] {
    padding: 10px !important;
    margin-top: 15px !important;
    background: #0f0;
    color: #000;
    font-weight: 600;
    font-size: 1.35em;
    letter-spacing: 0.05em;
    cursor: pointer;
}
.guestUser {
    position: relative;
}
.guestUser button{
    position: relative;
    top: 25px;
    padding: 5px 10px;
    color: #0f0;
    background-color: #222;
    border: none;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.2em;
    letter-spacing: 0.02em;
    cursor: pointer;
    border-radius: 4px;
    border: 1px #0f0 solid;
}

.guestUser button:hover{
    box-shadow: 1px -1px 15px 3px #0f0
}

input[type="submit"]:active{
    opacity: 0.6;
}

.errors {
    min-height: 19px;
}

.formMessage {
    min-height: 19px;
}
@media (max-width: 900px) {
    .section span 
    {
        width: calc(10vw - 2px);
        height: calc(10vw - 2px);
    }
}

@media (max-width: 600px) {
    .section span 
    {
        width: calc(20vw - 2px);
        height: calc(20vw - 2px);
    }
}

@media screen and (min-width: 768px) {
    
    .title h1 {
    font-size: 5rem;
    }

    .title h2 {
        font-size: 3.5rem;
    }

    .section .signin{
        margin-top: 10rem !important;
    }
}